# Python lists

## 1.Python collection (Arrays)

- There are four collection data types in the python programming language:
- 1. list - List is a collection which is ordered and changeable.Allows duplicates members.
- 2. Tuple - Tuple is a collection which is ordered and unchangeable. Allows duplicates member.
- 3. Set - Set is a collection which is unorderd and unidexed. No duplicates members.
- 4. Dictionary - Dictionary is a collection which is unordered, changeable and indexed . no duplicate members.
- When choosing a collection type, it is useful to understand the properties of eachtype. Choosing the right type for a particular dataset could mean retention of meaning, and it could mean increase in efficiency and security.

## 2. List

- A list is a collection which is ordered and changeable.
- in python lists are writen with square brakets.

In [2]:
#Creating a list
Names = ['charles','munyua','lucy','kelvin']
Names

['charles', 'munyua', 'lucy', 'kelvin']

## 2.1 Accessing items in a list 

- you can aaccess items in a list by refering to the index of the number.

In [3]:
# print the second item of the list
Names = ['charles','munyua','lucy','kelvin']
Names[1]

'munyua'

## 2.2 Negative indexing

- Negative indexing means beginning from the end , -1 refer to the last item ,-2 refer to the second last item etc.

In [4]:
Names = ['charles','munyua','lucy','kelvin']
Names[-1]

'kelvin'

## 2.3 Range of indexes

- You can specify a range of indexes by specifing where to start and where to end in a range.
- When specifying a range, the return value will be a new list with the specified items.
- NOTE: The search will start at index 2 ( included ) and end at index 5 ( not included )
- Always remember that the first item has index 0.

In [6]:
# return the third,fouth and fifth item in a list.
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
Names[2:5]

['lucy', 'kelvin', 'njeri']

## 2.4 Leave out the start value 

- Remmember that the first item has index 0.
- By leaving out the start value, the range will start from the first item.

In [7]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
Names[:5]

['charles', 'munyua', 'lucy', 'kelvin', 'njeri']

## 2.5 Leave out the end value 

- By leaving out the end value, the range will go on to the end of the list.

In [8]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
Names[1:]

['munyua', 'lucy', 'kelvin', 'njeri', 'nduta', 'mercy']

## 2.6 Range of  Negative indexes
- specify negative indexes if you want to start the search from the end of the list.

In [10]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
Names [-4:-1]

['kelvin', 'njeri', 'nduta']

## 3. Change List item Value

In [13]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
Names[0]='Gachanja'

In [14]:
Names

['Gachanja', 'munyua', 'lucy', 'kelvin', 'njeri', 'nduta', 'mercy']

## 4.Looping Though a List

In [16]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
for i in Names:
    print (i)

charles
munyua
lucy
kelvin
njeri
nduta
mercy

## 6.Cheak if Item Exits
- To determine if a special item is present in a list use the 'in' keyword

In [23]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
if 'charles' in Names:
    print("Yes,'Charles' is in the Names list")
else:
    print("No, 'Charles' is no where to be found in the list")

Yes,'Charles' is in the Names list

## 7. Add items
## 7.1 append() Method
- To add an item to the end of the list we use the append() method

In [25]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
Names.append('Mary')
Names

['charles', 'munyua', 'lucy', 'kelvin', 'njeri', 'nduta', 'mercy', 'Mary']

## 7.2 insert() Method
- To add an item at a specified index we use the insert() method.

In [30]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
Names.insert(2,'moses')
Names

['charles', 'munyua', 'moses', 'lucy', 'kelvin', 'njeri', 'nduta', 'mercy']

## 8. Remove item 

## 8.1 Remove () Method
- To remove an item we use the remove method

In [31]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
Names.remove('charles')
Names

['munyua', 'lucy', 'kelvin', 'njeri', 'nduta', 'mercy']

## 8.2 pop () Method
- The pop() method removes the specified index, or the last item if index is not specified.

In [33]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
Names.pop()
Names

['charles', 'munyua', 'lucy', 'kelvin', 'njeri', 'nduta']

## 8.3 del keyword

- The del keyword removes the specified index.

In [35]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
del Names[0]
Names

['munyua', 'lucy', 'kelvin', 'njeri', 'nduta', 'mercy']

## 8.4 del Keyword

- it deletes the list completely

In [40]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
del Names
Names

NameError: name 'Names' is not defined

## 8.5 Clear() Method

- The clear() method empties the list.

In [43]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
Names.clear()
Names

[]

## 9. Copy a list 
- You cannot copy a list simply by typing list 2 == list 1
- Because list 2 will only be a reference to list 1, and changes made in list 1 will automatically also be made in list 2

## 9.1 Copy() Method
- We can use the copy method to make a copy of a list.

In [44]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
mylist=Names.copy()

In [45]:
mylist

['charles', 'munyua', 'lucy', 'kelvin', 'njeri', 'nduta', 'mercy']

## 9.2 Built in method list()
- Another way to make a copy is to use the built in method list().

In [46]:
Names = ['charles','munyua','lucy','kelvin','njeri','nduta','mercy']
mylist=list(Names)
mylist

['charles', 'munyua', 'lucy', 'kelvin', 'njeri', 'nduta', 'mercy']

## 10. Join Two lists 
- There are several ways to join or concatenate,two or more lists in python.


10.1    + Operator
-

In [49]:
list1 = ['charles','munyua','lucy']
list2 = ['charles','njeri','nduta','mercy']
list3=list1+list2

In [50]:
list3

['charles', 'munyua', 'lucy', 'charles', 'njeri', 'nduta', 'mercy']

## 10.2 Join two list by appending them

In [51]:
list1 = ['charles','munyua','lucy']
list2 = ['charles','njeri','nduta','mercy']
for i in list2:
    list1.append(i)

In [52]:
list1

['charles', 'munyua', 'lucy', 'charles', 'njeri', 'nduta', 'mercy']

## 10.3 extend() method

- we use the extend() method to add list2 at the end of list1.

In [53]:
list1 = ['charles','munyua','lucy']
list2 = ['charles','njeri','nduta','mercy']
list1.extend(list2)
list1

['charles', 'munyua', 'lucy', 'charles', 'njeri', 'nduta', 'mercy']