# Python For Loop

## 1. Python For Loops

- A loop is used  to iterating over a sequence (that is either a list,a tuple, a dictionary, a set or a string).
- With the for loop we can execute a set of statments, once for each item in a list,tuple,set etc.

In [1]:
# example printing each of the fruits in a fruit list:
fruits=['apple','banana','orange']
for i in fruits:
    print(i)

apple
banana
orange

## 2. Looping Through a String

- Even string are itersble objects, they contain a sequence of characters:

In [2]:
# Example - looping though the letters in the word charles
for i in 'CHARLES':
    print(i)

C
H
A
R
L
E
S

## 3. The break Statement

- With the break statment we can stop the loop before it has looped through all the items:

In [3]:
# Example Exit a loop when i is 'banana'
fruits=['apple','banana','orange']
for i in fruits:
    print(i)
    if i == 'banana':
        break

apple
banana

In [7]:
fruits=['apple','banana','orange']
for i in fruits:
    if i == 'banana': 
        break
    print(i)

apple

## 4. The continue statement

- With the continue statment we can stop the current iteration of the loop, and continue with the next.

In [9]:
# Example - do not print banana 
fruits=['apple','banana','orange']
for i in fruits:
    if i == 'banana':
        continue 
    print(i)

apple
orange

## 5. The Range( ) Function

- To loop though a set of code a specific number of times, we can use the range() function.
- The range() function returns a sequence of numbers, starting from 0 by default and it is inclimented by 1 (by default) and it ends at a specific number.

In [11]:
# Example - using the range() function 
for i in range(6):
    print(i)

0
1
2
3
4
5

- Note the range(6) is not the values 0 to 6, but 0 to 5.
- The range function defaults to 0 as a starting value, however it is posssible to specify the starting value by adding a parameter .
- range(2,6) which means values from 2 to 6 ( but not including 6)

In [12]:
#Exaple - using a start parameter
for i in range (2,6):
    print(i)

2
3
4
5

- The range( ) function default to inclement the sequence by 1, however it is possible to specify the increment value by adding a third parameter.
- range(2,30,3)

In [13]:
#Example increment the sequence with 3 
for i in range(2,30,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

## 6. Else in for loop

- The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [14]:
# example- print all numbers from 0 to 5, and print a message when the loop has ended:
for i in range(6):
    print(i)
else:
    print('Finally Finished the loop ')

0
1
2
3
4
5
Finally Finished the loop

## 7.Nested loops

- A nested loop is a loop inside a loop.
- The inner loop will be executed on the first time for each iteration of the outter loop.

In [15]:
# Example - print each adjective for every fuits:
adj=['red','big','tasty']
fruits=['apple','banana','orange']
for i in adj:
    for x in fruits:
        print(i,x)

red apple
red banana
red orange
big apple
big banana
big orange
tasty apple
tasty banana
tasty orange

## 8.The pass Statement

- For loops cannot be empty, but if you for some reason have a for loop with no content,put in the pass statment to avoid getting an error.

In [ ]:
Exa